#include <systemc.h>

SC_MODULE(sc_unit)
{
  //*****************************************************************************
  //ports
  //*****************************************************************************
 
  void unit()
  {

  }
 
  SC_CTOR(sc_unit)
  {
    SC_METHOD(unit);
  }
};
